@page "/schedule"
<PageTitle>OpenAI</PageTitle>

<h4>Daily Schedule</h4>
<h5>09:00 – 05:00 (17:00) </h5>
&nbsp;

<table border="1" cellpadding="15">
    <tr>
        <th>Time</th>
        <th>Task</th>
        <th>Length</th>
        <th>Challenges</th>
    </tr>
    <tr>
        <td>09:00 – 09:15</td>
        <td>Introductions</td>
        <td>15 minutes</td>
        <td>TBD</td>
    </tr>
    <tr>
        <td>09:15 – 10:30</td>
        <td>Workshop</td>
        <td>90 minutes</td>
        <td>TBD</td>
    </tr>
    <tr>
        <td>10:30 – 10:45</td>
        <td>Morning Break</td>
        <td>15 minutes</td>
        <td>TBD</td>
    </tr>
    <tr>
        <td>10:45 – 12:30</td>
        <td>Workshop</td>
        <td>105 minutes</td>
        <td>TBD</td>
    </tr>
    <tr>
        <td>12:30 – 13:30	</td>
        <td>Lunch</td>
        <td>60 minutes</td>
        <td>TBD</td>
    </tr>
    <tr>
        <td>13:30 – 15:15</td>
        <td>Workshop</td>
        <td>105 minutes</td>
        <td>TBD</td>
    </tr>
    <tr>
        <td>15:15 – 15:30</td>
        <td>Afternoon Break</td>
        <td>15 minutes</td>
        <td>TBD</td>
    </tr>
    <tr>
        <td>15:30 – 17:00</td>
        <td>Workshop</td>
        <td>90 minutes</td>
        <td>TBD</td>
    </tr>
</table>

&nbsp;
